body {
    font-family: Arial, sans-serif;
    background-color: #ffcc00; /* Tema quente */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d62839;
}

.hidden {
    display: none;
  }
